html {
  scroll-snap-type: y mandatory;
}
.App {
  background: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos {
  height: 100%;
  max-height: 50rem;
  width: 80%;
  max-width: 31.25rem;
  border: 1px solid black;
  border-radius: 20px;

  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* Esconde a scroll bar no chrome, safari e opera */
.app__videos::-webkit-scrollbar {
  display: none;
}
/* Esconde a scroll bar no IE, Edge E Firefox */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
